body {
  font-family: "Helvetica";
  width: 99%;
  margin-left: auto;
  margin-right: auto;
}

blockquote, pre, code {
  font-family: Monaco, Consolas, monospace;
}

fieldset {
  float: left;
  height: 190px;
  width: 170px;
  margin: 0 1em 1em 0;
}

#last_updated_at {
  color: #CCCCCC;
  position: absolute;
  top: 0;
  right: 1em;
}

#content {
  clear: both;
}

.name a, .name a:visited {
  color: #0000EE;
}

legend {
  font-size: 1.2em;
  font-weight: bold;
}

dl input, dl textarea, dl select {
  padding: 3px 3px 3px 3px;
  margin-top: 3px;
}

dl dt {
  margin-top: 1em;     /* white-space above field label */
}

dl dd {
  margin-left: 0px;    /* by default dd is indented */
}

dl dt label {
  font-weight: bold;
  margin-right: 1em;
}


dl dt span, .hint, a.hint, .hint a {        /* style for hints */
  vertical-align: text-top;
  color: #A0A0A0;
  font-size: 0.85em;
}

button {
  border: 1px #555 solid;
  vertical-align: text-top;
}

h1 button {
  border: 1px #555 solid;
}

h2 button {
  border: 1px #555 solid;
}

.blurb {
  color: #999;
  margin-top: 1em;
  clear: both;
}

.box { 
  float: left;
  width: 450px;
  color: #333;
  line-height: 1.2;
  margin: 0 1em 1em 0;
  font-size: 12px;
}
.box h2 {
  margin: 0;
}

.box ol {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-left: 0;
  text-indent: 0;
}

.tweet {
  clear: both;
  min-height: 60px;
  opacity: 0.4;
  filter:alpha(opacity=40);
}

.tweet .tweet {
  margin-left: 1.5em;
  opacity: 1;
  filter:alpha(opacity=100);
}

.tweet, .tweet .tweet .tweet {
  margin-left: 0;
}

.tweet.unread {
  opacity: 1;
  filter:alpha(opacity=100);
}

.tweet.seen-thread, .tweet.seen-thread:hover {
  background-color: #ffd;
}

.tweet:hover {
  background: #efefef;
}

.tweet .author {
  margin-right: 5px;
  float: left;
}

.tweet .author img {
  width: 48px;
  height: 48px;
  font-size: inherit;
  margin: 5px;
}

.tweet .name {
  display: inline;
  font-weight: bold;
  font-size: 1.2em;
}

.tweet .message {
  display: inline;
}

.tweet .link {
  display: inline;
}

.tweet .source, .tweet .source a {
  display: inline;
  color: #ccc;
}

.tweet .reply {
  display: inline;
}

.tweet .thread-link {
  margin-left: 3px;
}

.tweet select.menu {
  border-width: 0px;
  display: none;
  float: left;
  position: relative;
  left: 4px;
  top: 3px;
  width: 49px;
  margin-right: -49px;
}
